@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 93%;
}
/* ::-webkit-scrollbar {
    width: 6px;
  }
  

  ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(29 78 216 / var(--tw-bg-opacity));
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
  } */


@layer components {
  .hamburger {
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: all 0.25s;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.25s;
  }
  
.hamburger-top, 
.hamburger-bottom, 
.hamburger-middle{
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  transition: all 0.25s;
  background: #000010;
}


.hamburger-top{
  transform: translateY(5px);
  width: 25px;
}

.hamburger-middle{
  transform: translateY(12px);
  width: 20px;
}

.hamburger-bottom{
  transform: translateY(20px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  width: 30px;
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  display: none;
}

.open .hamburger-bottom{
  width: 30px;
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.hide {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.background {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.4) , rgb(29 78 216 / var(--tw-bg-opacity)));
  background-size: 700px 700px;
  background-repeat: no-repeat;
}

.background2 {
  background-image: linear-gradient(to top right, transparent , rgb(59 130 246 / var(--tw-text-opacity)));
  background-size: 700px 240px;
  background-repeat: no-repeat;
}

  .category-box {
    @apply w-80 sm:w-60 h-[18rem] py-10 px-4 rounded-xl block shadow
    overflow-x-hidden overflow-hidden;
     background-image: linear-gradient(to bottom right, transparent , rgb(59 130 246 / var(--tw-bg-opacity)));
  background-size: 730px 280px;
  background-repeat: no-repeat;
  }
  
  .powered {
     @apply w-60 h-auto py-10 px-4 rounded-xl block shadow bg-white shadow-xl
     shadow-gray-400 flex flex-col items-center justify-center
  }
  
  .course-list {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    margin: 0 0 4rem 0;
    scrollbar-width: thin;
    scrollbar-color: #ff9900 #333;
  }
  
  .course-box {
    flex: 0 0 18rem;
  @apply h-auto rounded-xl  shadow shadow-gray-200 bg-white
  shadow shadow-lg shadow-[rgba(0,0,0,0.2)];
  }
  
  .testimonial {
  @apply w-80 h-[19rem] rounded-xl  shadow shadow-gray-200 bg-gray-100
  shadow shadow-lg shadow-[rgba(0,0,0,0.2)] flex justify-center flex-col
  items-center relative px-6 pb-5
  }
  
    .p {
  @apply before:content-['\201C']
  before:text-5xl before:font-serif before:font-bold after:content-['\201D']
  before:absolute before:left-0 before:-translate-y-3  after:text-5xl after:font-serif after:font-bold after:right-2
  after:absolute
  }
/* 
.course-list::-webkit-scrollbar {
    width: 6px;
  }
  

  .course-list::-webkit-scrollbar-track {
    background: #999;
    border-radius: 10px;
  }
  

  .course-list::-webkit-scrollbar-thumb {
    background: #f23;
    border-radius: 10px;
  }
  

  .course-list::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
  } */
  
  .icons {
    @apply w-12 h-12 rounded-full border-gray-300 border flex items-center justify-center text-3xl text-gray-900
  }
  
  .auth {
    @apply w-full h-14 pl-12 py-4 outline-none text-gray-800
    rounded-lg border border-blue-500 text-lg focus:border-brightorange 
  }
  
  .button {
    @apply w-40 h-16 px-4 py-3 bg-transparent border border-white text-lg text-center rounded-[4rem] text-white hover:bg-white hover:text-blue-500 transition-all 
  }
  
  .mobile-switch {
    @apply absolute z-[100];
    /* transition: all 3s ease-in; */
  }
  
  .mobile-switch2 {
    @apply opacity-0;
    transition: all 1s ease-in;
  }
  


}